{% extends "GloryPayBundle:Admin:layout.html.twig" %}
{% block title %}
    支付记录
{% endblock %}
{% block body %}
    <div class="box" id="user-list">
        <div class="box-header">
            <h3 class="box-title">列表</h3>
            <div class="box-tools">
            </div>
        </div>
        <div class="box-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>创建时间</th>
                    <th>细节</th>
                    <th>类型</th>
                    <th>金额</th>

                    <th>支付方式</th>
                    <th>支付时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {% for item in pagination %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.createdTime|default('0')|date('Y-m-d H:i:s')}}</td>
                        <td>{{item.detail}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.provider}}</td>
                        <td>{{item.paidTime|default('0')|date('Y-m-d H:i:s')}}</td>
                        <td>{{item.status|pay_status}}</td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="box-footer clearfix">
            <div class="no-margin pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

